body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body {
    background-color: #ffffff;
    color: #000000;
  }
  
  .bg-dark {
    background-color: #121212 !important;
  }
  
  .bg-primary {
    background-color: #007bff !important;
  }
  